.app-wrapper {
    .main-wrapper {
        background-color: #FAF9F4;
    }
}

.slide-right {
    -webkit-transform: translateX(80%);
    -moz-transform: translateX(80%);
    -ms-transform: translateX(80%);
    transform: translateX(80%);
    transition: transform .4s;
}

.hidden {
    display: none !important;
    visibility: hidden !important;
}
